<div ng-controller="ClassDetailsCtrl">
<h3>Class</h3>
Class Name: {{name}} <a href="{{gitUrl}}">[source]</a>
<br/>
    <div ng-if="class.param == true">
        <b>As Parameter (in)</b>:
        <ul>
            <li ng-repeat="x in inputting | orderBy : 'path'"><a href="#/operation/-{{x.path}}/{{x.verb}}">{{x.path}} {{x.verb}}</a></li>
        </ul>
    </div>
<div ng-if="class.returnType == true">
    <b>As Return Type (out)</b>:
    <ul>
        <li ng-repeat="x in returning | orderBy : 'path'"><a href="#/operation/-{{x.path}}/{{x.verb}}">{{x.path}} {{x.verb}}</a></li>
    </ul>
</div>
</div>